
<style>
    .bg-purple {
        background-color: var(--dark);
    }
</style>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="559443797881-3h3h7b9hnls91oeoft4gei5vh9ng3odl.apps.googleusercontent.com">
<script type="text/javascript">
            function onSignIn(googleUser) {
                gapi.auth2.getAuthInstance().disconnect();
                location.reload();
                var profile = googleUser.getBasicProfile();
                var email = profile.getEmail();
                window.location = "UserController?mail=" + email;
            }
</script>
<div class="bg-purple">

    <div class="container">
        <div class="row">
            <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <!-- form card login -->
                        <div class="card rounded shadow shadow-sm">
                            <div class="card-header">
                                <h3 class="mb-0">Login</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" action="/Authentication/Login" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                    <h3>Log in with a social network:</h3>
                                    <center><a class="g-signin2" data-onsuccess="onSignIn" center></a></center>
                                    <div class="form-group">
                                        <label for="uname1">Username</label>
                                        <input type="text" class="form-control form-control-lg rounded-0" name="user" id="uname1" required="">
                                        <div class="invalid-feedback">Oops, you missed this one.</div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control form-control-lg rounded-0" name="password" id="pwd1" required="" autocomplete="new-password">
                                        <div class="invalid-feedback">Enter your password too!</div>
                                    </div>
                                    <div>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            @*<span class="custom-control-description small text-dark">Remember me on this computer</span>*@
                                            @if (ViewBag.error != null) {
                                                <div class="p text-danger">@ViewBag.error  asasdsa</div>
                                            }
                                        </label>



                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
                                </form>
                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->

                    </div>


                </div>
                <!--/row-->

            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</div>