<div class="container-title d-flex">
    <div class="ml-4">
        <h1 class="title">Tech News</h1>
    </div>
    <div class="small-text pl-3 d-flex">
        <div class="hr mr-3"></div>
        <span>News &<br /> Technology</span>
    </div>
</div>
<video autoplay muted loop>
    <source src="~/video/video-header.mp4" type="video/mp4" />
</video>

